parameters:
    checkMissingIterableValueType: false

    ignoreErrors:
    - '#Call to method (utilEncoding|adyenApi|sales|utilText|adyen|quote|calculation|oms)\(\) on an unknown class .+AutoCompletion#'
