parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    excludePaths:
        - src/SprykerEco/Zed/Adyen/Persistence/Propel/Abstract*.php
    ignoreErrors:
        - '#.+Generated\\.+.\\Ide\\AutoCompletion#'
        - '#.+Generated\\Shared\\Transfer.+.#'
        - '#.Persistence\\Spy.+.#'
