@mixin adyen-credit-card($name: '.adyen-credit-card') {
    #{$name} {
        &__input {
            height: 35px;

            iframe {
                margin: 0;
            }
        }

        .js-iframe-input {
            @include helper-font-size(default);
            padding: 100px;
        }

        .adyen-checkout__input {
            @include helper-effect-transition(border-color);
            padding: 4px 8px;
            border-radius: 0;
            height: 30px;
            border: 1px solid $setting-color-input-border;
        }

        .adyen-checkout__field {
            padding: 8px;
            margin: 0;
        }

        .adyen-checkout__label__text {
            font-size: inherit;
        }

        @content;
    }
}

@include adyen-credit-card();
