<script type="text/javascript" src="https://checkoutshopper-test.adyen.com/checkoutshopper/assets/js/sdk/checkoutSecuredFields.1.1.1.min.js"></script>

<div class="adyen-payment-form adyen-payment-klarna-invoice-form payment-form cards-div js-chckt-pm__pm-holder" id="adyenKlarnaInvoice">
    {{ form_widget(form.adyenCreditCard) }}
    <input type="hidden" name="txvariant" value="card" />

    <div class="field">
        <span class="input-field input" data-hosted-id="hostedCardNumberField" data-cse="encryptedCardNumber" />
    </div>

    <div class="field">
        <span class="input-field input" data-hosted-id="hostedExpiryDateField" data-cse="encryptedExpiryDate" />
    </div>

    <div class="field">
        <span class="input-field input" data-hosted-id="hostedSecurityCodeField" data-cse="encryptedSecurityCode" />
    </div>
</div>

<script type="text/javascript">

    // Define a custom style.
    var styleObject = {
        base: {
            color: 'black',
            fontSize: '16px',
            border: '1px solid #dadada',
            height: '32px',
            lineHeight: '32px',
            fontSmoothing: 'antialiased',
            fontFamily: 'Helvetica'
        },
        error: {
            color: 'red'
        },
        placeholder: {
            color: '#d8d8d8'
        },
        validated: {
            color: 'green'
        }
    };

    // Load Secured Fields.
    var securedFields = csf({
        configObject : {
            originKey : "pub.v2.8215323288033856.aHR0cDovL3d3dy5kZS5hZHllbi5sb2NhbA.wqS4CdQ29skrG79bxc92KusqP7acm6FNEXeWj9IKO0o"
        },
        rootNode: '.cards-div',
        paymentMethods : {
            card : {
                sfStyles : styleObject,
                placeholders: {
                    hostedCardNumberField : '4111 1111 1111 1111',
                    hostedExpiryDateField : '08/18',
                    hostedSecurityCodeField : '737'
                }
            }
        }
    });

    // Listen to events.
    securedFields.onLoad(function(){
        console.log('All fields have been loaded');
    });

    // Triggers when all credit card input fields are valid - and triggers again if this state changes.
    securedFields.onAllValid(function(allValidObject){
        if(allValidObject.allValid === true){

            alert('All credit card input is valid :-)');
        }
    });

    // Triggers when receiving a brand callback from the credit card number validation.
    securedFields.onBrand(function(brandObject){
        if(brandObject.brand) {
            document.getElementById('card-type').innerHTML = brandObject.brand;
        }
    });

</script>