{{ form_widget(form.computopCreditCard) }}

<div class="cards-div">
    <div class="js-chckt-pm__pm-holder">
            <input type="hidden" name="txvariant" value="card" />
        <br />
        <label>
            <span class="input-field" data-hosted-id="hostedCardNumberField" data-cse="encryptedCardNumber">!!!!!</span>
        </label>
        <br />
        <label>
            <span class="input-field" data-hosted-id="hostedExpiryDateField" data-cse="encryptedExpiryDate" />
        </label>
        <br />
        <label>
            <span class="input-field" data-hosted-id="hostedSecurityCodeField" data-cse="encryptedSecurityCode" />
        </label>
    </div>
</div>